Jax-ws-Clients/WrappedClient/web-service-client/src/main/resources/wsdl/personservice.wsdl

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.webapps.ufc.ge/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.webapps.ufc.ge/" name="PersonServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.webapps.ufc.ge/" schemaLocation="http://localhost:8080/jax-ws-web-service/EmployeeService_1?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="AddPerson">
        <part name="parameters" element="tns:AddPerson"/>
    </message>
    <message name="AddPersonResponse">
        <part name="parameters" element="tns:AddPersonResponse"/>
    </message>
    <message name="PersonAlreadyExistsException">
        <part name="fault" element="tns:PersonAlreadyExistsException"/>
    </message>
    <message name="UpdatePerson">
        <part name="parameters" element="tns:UpdatePerson"/>
    </message>
    <message name="UpdatePersonResponse">
        <part name="parameters" element="tns:UpdatePersonResponse"/>
    </message>
    <message name="PersonNotFoundException">
        <part name="fault" element="tns:PersonNotFoundException"/>
    </message>
    <message name="GetPerson">
        <part name="parameters" element="tns:GetPerson"/>
    </message>
    <message name="GetPersonResponse">
        <part name="parameters" element="tns:GetPersonResponse"/>
    </message>
    <message name="DeletePerson">
        <part name="parameters" element="tns:DeletePerson"/>
    </message>
    <message name="DeletePersonResponse">
        <part name="parameters" element="tns:DeletePersonResponse"/>
    </message>
    <message name="ListPerson">
        <part name="parameters" element="tns:ListPerson"/>
    </message>
    <message name="ListPersonResponse">
        <part name="parameters" element="tns:ListPersonResponse"/>
    </message>
    <portType name="PersonServiceI">
        <operation name="AddPerson">
            <input wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/AddPersonRequest" message="tns:AddPerson"/>
            <output wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/AddPersonResponse" message="tns:AddPersonResponse"/>
            <fault message="tns:PersonAlreadyExistsException" name="PersonAlreadyExistsException" wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/AddPerson/Fault/PersonAlreadyExistsException"/>
        </operation>
        <operation name="UpdatePerson">
            <input wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/UpdatePersonRequest" message="tns:UpdatePerson"/>
            <output wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/UpdatePersonResponse" message="tns:UpdatePersonResponse"/>
            <fault message="tns:PersonNotFoundException" name="PersonNotFoundException" wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/UpdatePerson/Fault/PersonNotFoundException"/>
        </operation>
        <operation name="GetPerson">
            <input wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/GetPersonRequest" message="tns:GetPerson"/>
            <output wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/GetPersonResponse" message="tns:GetPersonResponse"/>
            <fault message="tns:PersonNotFoundException" name="PersonNotFoundException" wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/GetPerson/Fault/PersonNotFoundException"/>
        </operation>
        <operation name="DeletePerson">
            <input wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/DeletePersonRequest" message="tns:DeletePerson"/>
            <output wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/DeletePersonResponse" message="tns:DeletePersonResponse"/>
            <fault message="tns:PersonNotFoundException" name="PersonNotFoundException" wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/DeletePerson/Fault/PersonNotFoundException"/>
        </operation>
        <operation name="ListPerson">
            <input wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/ListPersonRequest" message="tns:ListPerson"/>
            <output wsam:Action="http://ws.webapps.ufc.ge/PersonServiceI/ListPersonResponse" message="tns:ListPersonResponse"/>
        </operation>
    </portType>
    <binding name="PersonServicePortBinding" type="tns:PersonServiceI">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="AddPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PersonAlreadyExistsException">
                <soap:fault name="PersonAlreadyExistsException" use="literal"/>
            </fault>
        </operation>
        <operation name="UpdatePerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PersonNotFoundException">
                <soap:fault name="PersonNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="GetPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PersonNotFoundException">
                <soap:fault name="PersonNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="DeletePerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PersonNotFoundException">
                <soap:fault name="PersonNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="ListPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PersonServiceService">
        <port name="PersonServicePort" binding="tns:PersonServicePortBinding">
            <soap:address location="http://localhost:8080/jax-ws-web-service/EmployeeService_1"/>
        </port>
    </service>
</definitions>