JAXB/circle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="CircleList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Circle" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="radius" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>